
.jumbotron {
    /* Background */
    background-attachment: fixed;
    background-image: url(News2.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.white {
    color: rgb(255, 255, 255);
}

.logo {
    width: 50px
}

h2 {
    color: white
    font-size: 45px
}body {
  font-family: 'Spartan', sans-serif;
  background-color: #dae0e5
}

h1 {
    text-decoration: underline;
    text-shadow: 2px 2px 2px gray
}

.jumbotron-weatherandnews {
    background-attachment: fixed;
    background-image: url(News2.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: auto auto;
    color: white;
    text-shadow: 2px 2px 2px black;
    min-height: 20em
}