
title {
    font-family: 'Cormorant Garamond', serif;
    color: black
}

h1 {
    font-family: 'Cormorant Garamond', serif;
    text-decoration: underline;
}

h2 {
    font-family: 'Cormorant Garamond', serif;
}
h3 {
    font-family: 'Cormorant Garamond', serif;
}
h4 {
    font-family: 'Cormorant Garamond', serif;
}
h5{
    font-family: 'Cormorant Garamond', serif;
}
h6{
    font-family: 'Cormorant Garamond', serif;
    color: black
}

body {
  font-family: 'Cormorant Garamond', serif;
  background-color: white
}

.jumbotron-news {
    background-attachment: fixed;
    background-image: url(News2.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: auto auto;
    color:black;
    min-height: 15em
}